:root {
  --shiny-cta-bg: #000000;
  --shiny-cta-bg-subtle: #1a1818;
  --shiny-cta-fg: #ffffff;
  --shiny-cta-highlight: #01EFB0;
  --shiny-cta-highlight-subtle: #2e96ff;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --gradient-angle-offset {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --gradient-percent {
  syntax: "<percentage>";
  initial-value: 5%;
  inherits: false;
}

@property --gradient-shine {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}

.shiny-cta {
  --animation: gradient-angle linear infinite;
  --duration: 3s;
  --shadow-size: 2px;
  isolation: isolate;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline-offset: 4px;
  padding: 1.25rem 2.5rem;
  font-family: inherit;
  font-size: 1.125rem;
  line-height: 1.2;
  border: 1px solid transparent;
  border-radius: 360px;
  color: var(--shiny-cta-fg);
  background: linear-gradient(var(--shiny-cta-bg), var(--shiny-cta-bg))
      padding-box,
    conic-gradient(
        from calc(var(--gradient-angle) - var(--gradient-angle-offset)),
        transparent,
        var(--shiny-cta-highlight) var(--gradient-percent),
        var(--gradient-shine) calc(var(--gradient-percent) * 2),
        var(--shiny-cta-highlight) calc(var(--gradient-percent) * 3),
        transparent calc(var(--gradient-percent) * 4)
      )
      border-box;
  box-shadow: inset 0 0 0 1px var(--shiny-cta-bg-subtle);

  &::before,
  &::after,
  span::before {
    content: "";
    pointer-events: none;
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    translate: -50% -50%;
    z-index: -1;
  }

  &:active {
    translate: 0 1px;
  }
}

/* Dots pattern */
.shiny-cta::before {
  --size: calc(100% - var(--shadow-size) * 3);
  --position: 2px;
  --space: calc(var(--position) * 2);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(
      circle at var(--position) var(--position),
      white calc(var(--position) / 4),
      transparent 0
    )
    padding-box;
  background-size: var(--space) var(--space);
  background-repeat: space;
  mask-image: conic-gradient(
    from calc(var(--gradient-angle) + 45deg),
    black,
    transparent 10% 90%,
    black
  );
  border-radius: inherit;
  opacity: 0.4;
  z-index: -1;
}

/* Inner shimmer */
.shiny-cta::after {
  --animation: shimmer linear infinite;
  width: 100%;
  aspect-ratio: 1;
  background: linear-gradient(
    -50deg,
    transparent,
    var(--shiny-cta-highlight),
    transparent
  );
  mask-image: radial-gradient(circle at bottom, transparent 40%, black);
  opacity: 0.6;
}

.shiny-cta span {
  z-index: 1;
  font-weight: 700;

  &::before {
    --size: calc(100% + 1rem);
    width: var(--size);
    height: var(--size);
    box-shadow: inset 0 -1ex 2rem 4px var(--shiny-cta-highlight);
    opacity: 0;
  }
}

/* Animate */
.shiny-cta {
  --transition: 800ms cubic-bezier(0.25, 1, 0.5, 1);
  transition: var(--transition);
  transition-property: --gradient-angle-offset, --gradient-percent,
    --gradient-shine;

  &,
  &::before,
  &::after {
    animation: var(--animation) var(--duration),
      var(--animation) calc(var(--duration) / 0.4) reverse paused;
    animation-composition: add;
  }

  span::before {
    transition: opacity var(--transition);
    animation: calc(var(--duration) * 1.5) breathe linear infinite;
  }
}

.shiny-cta:is(:hover, :focus-visible) {
  --gradient-percent: 20%;
  --gradient-angle-offset: 95deg;
  --gradient-shine: var(--shiny-cta-highlight-subtle);

  &,
  &::before,
  &::after {
    animation-play-state: running;
  }

  span::before {
    opacity: 1;
  }
}

@keyframes gradient-angle {
  to {
    --gradient-angle: 360deg;
  }
}

@keyframes shimmer {
  to {
    rotate: 360deg;
  }
}

@keyframes breathe {
  from,
  to {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
}

@property --color-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(98 100% 62%);
}

@property --color-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(204 100% 59%);
}

/* keyframes that change the color variable */
@keyframes gradient-change {
  to {
    --color-1: #2e96ff;
    --color-2: hsl(98 100% 62%);
  }
}

article {
  /* apply variable changes over time */
  animation: gradient-change 2s linear infinite alternate;
  
  background: linear-gradient(
    /* 
      in oklch produces more vibrant gradient results 
      learn more https://developer.chrome.com/docs/css-ui/access-colors-spaces#color_interpolation
    */
    to right in oklch, 
    /* use the variables in a gradient (or wherever!) */
    var(--color-1), 
    var(--color-2)
  );
  
  /* old browser support */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  /* modern browser version */
  background-clip: text;
  color: transparent;
}

.intro-infor {
  padding: 10px 0px;background-color: rgb(0, 43, 20);position: absolute;left: 0;width: 100vw;bottom: 0;
}
.intro-main {
  height: 100%; 
}
.intro-wrapper {
  padding-bottom: 0px; 
}
.pack {
  background-color: rgb(0, 15, 7); color: rgb(255, 255, 255); 
}
.pack-card {
  border: 1px solid rgb(255, 255, 255); 
}
.workflow-img-wrapper {
  width: 27vw; 
}
.workflow-img-wrapper.active .workflow-img-tag--1 {
  width: 5vw; top: -1vw; right: 4.3vw; 
}
.workflow-img-wrapper.active .workflow-img-tag--3 {
  width: 9vw; bottom: 11vw; right: -4vw; animation-delay: 1.2s; 
}
.feedback-item:hover {
  background-size: cover; border: none; background-image: linear-gradient(45deg, rgb(3, 102, 48) 0%, rgb(3, 102, 48) 33%, rgb(3, 199, 94) 100%); 
}
.question-img-wrapper {
  max-width: 500px; width: 100% !important; height: auto !important; 
}
.feedback-item {
  margin: 0px;background-color: #061106ab;
}
.chart-bg {
  background: url("../images/chart-bg.png") center top / contain no-repeat; 
}
.chart-img {
  margin-top: 10vh; 
}
@media (max-width: 1023px) {
  .pack-desc {
    width: 100%; 
  }
  .workflow-img-wrapper {
    width: 65vw !important; 
  }
  .feedback-item {
    margin-bottom: 10px; 
  }
  .workflow-img {
    margin-bottom: 10px; 
  }
  .feedback {
    padding-top: 0px; 
  }
  .chart-img {
    margin-top: 0px; 
  }
  .intro-main {
    height: calc(100% - 74px); 
  }
}

#canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  pointer-events: none;
  opacity: 0.4;
}

.intro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-title {
  font-size: 80px;
  line-height: 82px;
  font-weight: 600;
  text-align: center;
}

.intro-desc {
  text-align: center;
  margin: 20px 0 30px !important;
  font-size: 18px;
  color: #e1e1e1;
}

.header-nav-item {
  font-weight: 400;
}
.header-mobile,
.header {
  z-index: 999999999999999999 !important;
}

.footer {
  padding-top: 0 !important;
}

.swiper {
  padding: 20px;
}

.partner {
  padding: 0;
}

.partner-img img {
  height: 25px;
  width: auto;
}

.vision-mission {
  padding: 20px 0;
}

.gradient-box {
  height: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gradient-box-desc {
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  margin-top: 10px;
  color: rgb(192 192 192);
  font-weight: 300;
}

.gradient-box-title {
  text-align: center;
  font-weight: 800;
  font-size: 45px;
}

.vision-mission-img {
  max-width: 350px;
  animation: glowing-color 1.5s infinite alternate-reverse;
}

@keyframes glowing-color {
  0% { 
    filter: drop-shadow(0 0 12px #01efaf3e);
    transform: scale(0.97);
  }
  
  100% { 
    filter: drop-shadow(0 0 20px #01efaf88);
    transform: scale(1);
  }
}

.scroll-to-top {
  background: none;
  background-color: #01EFB0 !important;
  border-radius: 10px !important;
}

.scroll-to-top i {
  color: #000 !important;
}

.ecosystem {
  padding: 20px 0;
}

.ecosystem-box {
  padding: 10px;
  border: 1px solid #13bd0061;
  border-radius: 20px;
  background-color: #0000002b;
}

.ecosystem-name {
  color: #01EFB0;
  font-weight: 700;
  margin-bottom: 5px;
  text-align: center;
}

.ecosystem-img {
  animation: glowing-color 1.5s infinite alternate-reverse;
}

.ecosystem-desc {
  text-align: center;
  color: rgb(231 231 231);
}

.gap-x-ecosystem {
  gap: 40px;
}

.ecosystem-sub {
  max-width: 600px;
  font-weight: 400;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  color: rgb(159, 159, 159);
}

.ecosystem-sub-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 0;
}

.ecosystem .gradient-box-title {
  font-size: 45px;
}

/* ROADMAP */
.roadmap{
  padding: 50px 0 !important;
  background: url(../images/roadmap-bg.png) no-repeat top right;
  background-size: cover;
}

.roadmap-wrapper{
  padding: 30px 20px 0;
  position: relative;
}

.roadmap-wrapper::before {
  content: "";
  position: absolute;
  top: 49px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #01EFB0;
}

.roadmap-phase{
  font-weight: 800;
  padding-bottom: 10px;
  text-align: center;
  color: #01EFB0;
  font-size: 22px;
}

.roadmap-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.roadmap-item-content{
  padding: 20px 10px;
  margin: 0 10px;
  margin-top: 50px;
  background-color: #0e1619a8;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 100%;
  border-radius: 10px;
}

.program img{
  transition: all 0.5s ease-in-out;
}

.program img:hover {
  cursor: pointer;
  transform: scale(0.96);
  filter: drop-shadow(rgba(33, 231, 135, 0.21) 0px 0px 20px);
}
.roadmap-item-content:hover{
  cursor: pointer;
  border-radius: 10px;
  box-shadow: #21e787aa 0px 3px 10px -1px, #21e78736 0px 0px 8px 5px;
}

.roadmap-item-content::before{
  content: "";
  position: absolute;

  top: 0;
  left: 50%;

  transform: translateY(-100%);

  border-left: 1px dashed #fff;
  height: 50px;
}

.roadmap-point{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #01EFB0;
  animation: roadmap-point 2.4s linear infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  z-index: 2;
  font-weight: 600;
}

.roadmap-point--2{
  animation-delay: 0.4s;
}

.roadmap-point--3{
  animation-delay: 0.8s;
}

.roadmap-point--4{
  animation-delay: 1s;
}

.roadmap-point--5{
  animation-delay: 1.2s;
}

.roadmap-point--6{
  animation-delay: 1.6s;
}

@keyframes roadmap-point {
  40%{
      box-shadow: #21e787aa 0px 3px 18px -1px, #21e78736 0px 0px 8px 15px
  }
}

.roadmap-text{
  font-size: 14px;
  min-height: 126px;
  text-align: center;
  color: rgb(192 192 192);
}

#intro {
  background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(2, 2, 2, 0.909)), url(../images/bg-2.jpg) no-repeat center center;
  background-size: cover;
}